@import '../../../styles/theme';

.button {
  height: $input-height;
  box-sizing: border-box;
  width: auto;
  font-size: $input-font-size;
  font-weight: 500;
  padding: 0 15px;
  border: $input-border;
  border-radius: $input-border-radius;
  cursor: pointer;
  line-height: normal;
  transition: all 0.3s ease 0s;
  margin: 5px;
}

.button:hover{
  box-shadow: 2px 2px 2px  rgba(0,0,0,.17)
}

.button.Active{
  box-shadow: $positive-button-color;
}

.button.Info{
  background-color: $info-button-color;
  border: none;
  color: $light-text-button-color;
}

.button.Positive {
  background-color: $positive-button-color;
  border: none;
  color: $light-text-button-color;
}

.button.Negative {
  background-color: $negative-button-color;
  border: none;
  color: $dark-text-button-color;
}

.button.Destructive {
  background-color: $destructive-button-color;
  border: none;
  color: $dark-text-button-color;
}

.button.Destructive:hover, .button.Destructive.Active {
  background-color: $destructive-button-active-color;
  border: none;
  color: $light-text-button-color;
}


