.counterDiv{
  float: left;
  text-align: right;
  font-size: 1.5rem;
  padding-top: 15px;
  padding-bottom: 15px;
  .divHeader{
    margin-bottom: 7px;
  }
  .counterRow {
    border-bottom: 1px solid #333;
    .counterLabel {
      float: left;
    }
    .counterAmount {
    }
  }
}
