/* Main */
$primary-color: #4C84FF;
$text-color: #171e42;
$base-background: #f6f6f6;
$selected-color: #57b487;
/*  /Main */

/* Buttons */
$positive-button-color: #2E8B57;
$info-button-color: #87CEFA;
$negative-button-color: #e1e1e1;
$destructive-button-color: #8B0000;
$destructive-button-active-color: #FF4500;

$dark-text-button-color: rgba(0, 0, 0, 0.7);
$light-text-button-color: white;

$input-height: 30px;
$input-border: 1px solid border-color;
$input-border-radius: 2px;
$input-font-size: 16px;
$input-focus-border-color: white;
$input-focus-shadow: 0px 0px 1px 1px rgba(1, 1, 1, 0.1);
/* /Buttons */

/* Mixins */
@mixin n-columns($min-width, $gutter, $last-equal: false, $max-cols: 6) {
  .attendance {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$gutter;
    margin-top: -$gutter;

    .attendee {
      flex: 1 0 $min-width;
      margin-left: $gutter;
      margin-top: $gutter;

      @if $last-equal {
        @for $i from 2 through $max-cols {
          $screen-width: ($min-width*$i)+($gutter*$i);
          $column-width: (100%/$i);
          @media (min-width: $screen-width) {
            max-width: calc(#{$column-width} - #{$gutter});
          }
        }

        $column-width: (100%/$max-cols);
        @media (min-width: $min-width*$max-cols) {
          min-width: calc(#{$column-width} - #{$gutter});
        }
      }
    }
  }
}
/* /Mixins */
