@import '../../../styles/theme';

.Overlay {
  background-color: rgba(35, 26, 38, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.Content {
  background-color: white;
  width: 600px;
  margin: auto;
  margin-top: 30px;
  position: relative;
  border-radius: 10px;
  outline: none;
  padding: 0px;
}

.LargeContent {
  width: 1000px;
}

.Header,
.Footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  padding-left: 20px;
  width: 100%;
  color: #261c29;
}

.Title {
  font-size: 1.3em;
  margin-top: 5px;
  font-weight: bold;
}

.CloseIcon {
  height: 15px;
  width: 15px;
  fill: #261c29;
  cursor: pointer;
}

.CloseIconButton {
  box-sizing: content-box;
  padding: 5px;
  height: 15px;
  width: 15px;
  border: none;
  border-radius: 2px;
  margin: 0;
  cursor: pointer;
}

.CloseIconButton:focus {
  border-color: $input-focus-border-color;
  box-shadow: $input-focus-shadow;
  outline: none;
}

.Body {
  padding: 10px;
  position: relative;
  max-height: 500px;
}

.Footer {
  border-top: 1px solid #c6c9cf;
}
.Header {
  border-bottom: 1px solid #c6c9cf;
}

.Footer .Left,
.Footer .Right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.Footer .Left {
  justify-content: flex-start;
}

.Footer .Right {
  justify-content: flex-end;
}

.Footer .button {
  margin-right: 15px;
}
