@import '../../../styles/theme';

.infoText{
  padding: 10px;
  font-size: 1.2em;
}
.actionItem{
  text-align: center;
  font-size: 1.2em;
  cursor: pointer;
  padding: 5px;
}
.actionItem:hover{
  background: $positive-button-color;
  color: $light-text-button-color;
}
.selected {
  color: $positive-button-color;
  font-weight: bold;
  font-size: 1.25em;
}