@import '../../../styles/theme';

@include n-columns(300px,  10px, true, 6);

.attendance {
  .attendee {
    background: $base-background;
    color: $text-color;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &.attendeeSelected{
      border: 1px solid $selected-color;
      box-shadow: 2px 2px $selected-color;
    }
    .atendeeImage {
      width: 100%;
      vertical-align: middle;
      border-style: none;
      cursor: pointer;
    }

    .attendeeInfo {
      //border-top: 1px solid #c6c9cf;
      .attendeeName {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 3.5rem;
        text-align: center;
        margin: 0px;
        cursor: pointer;
      }
      .attendanceIconDiv{
        text-align: center;
        display: flex;
        padding: 15px;
        .attendanceIcons {
          height: 30px;
          width: 30px;
        }
        .attendanceIconContainer{
          height: 30px;
          width: 30px;
          margin: auto;
          margin-bottom: 35px;
          flex-direction: row;
          .attendanceIcons:hover{
            cursor: pointer;
            height: 31px;
            width: 31px;
          }
        }

      }
      .attendancePicked{
        font-size: 25px;
        margin: 0px auto;
      }
    }






  }
}

