.footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 50px;
  background: #333;
  color: white;
  .footerParagraph {
    font-size: 1.1em;
    .link {
      color: #87CEFA;
    }
  }
}
